In [1]:
%matplotlib inline

import pandas as pd

import matplotlib.pyplot as plt

import numpy

plt.style.use('ggplot')

pd.__version__

u'0.17.0'

In [2]:
subsidies = pd.read_csv("SSFsubsidiesnonfuel.csv")

In [3]:
subsidies_short = subsidies.loc[:,['RegionName', 'Countries', 'Type','SSFsubsidies_assessed_percent','weighted_by_sectorsize', 'Data_group']]

In [4]:
subsidies_short

,RegionName,Countries,Type,SSFsubsidies_assessed_percent,weighted_by_sectorsize,Data_group
0,Asia,Philippines,A1,28.662420,TRUE,3
1,Asia,Philippines,A2,25.475502,TRUE,3
2,Asia,Philippines,A3,28.662420,TRUE,3
3,Asia,Philippines,B1,25.475502,TRUE,3
4,Asia,Philippines,B2,25.475502,TRUE,3
5,Asia,Philippines,B3,NaN,NaN,NaN
6,Asia,Philippines,B4,20.000000,FALSE,1
7,Asia,Philippines,B5,0.000000,FALSE,2
8,Asia,Philippines,B6,NaN,NaN,NaN
9,Asia,Philippines,C1,100.000000,FALSE,1
10,Asia,Philippines,C2,NaN,NaN,NaN
11,Asia,Philippines,C3,100.000000,FALSE,1
12,Asia,India,A1,42.381331,TRUE,3
13,Asia,India,A2,41.498407,TRUE,3
14,Asia,India,A3,42.381331,TRUE,3
15,Asia,India,B1,0.000000,FALSE,2
16,Asia,India,B2,20.000000,FALSE,1
17,Asia,India,B3,17.000000,FALSE,1
18,Asia,India,B4,25.000000,FALSE,1
19,Asia,India,B5,20.000000,FALSE,1
20,Asia,India,B6,NaN,NaN,NaN
21,Asia,India,C1,41.498407,TRUE,3
22,Asia,India,C2,NaN,NaN,NaN
23,Asia,India,C3,100.000000,FALSE,1
24,Asia,Thailand,A1,42.279905,TRUE,3
25,Asia,Thailand,A2,13.560304,TRUE,3
26,Asia,Thailand,A3,42.279905,TRUE,3
27,Asia,Thailand,B1,25.000000,FALSE,1
28,Asia,Thailand,B2,13.560304,TRUE,3
29,Asia,Thailand,B3,0.000000,FALSE,2
...,...,...,...,...,...,...
839,Europe,Portugal,B7,NaN,NaN,NaN
840,Europe,Portugal,C1,30.100000,TRUE,3
841,Europe,Portugal,C2,30.100000,TRUE,3
842,Europe,Portugal,C3,NaN,NaN,NaN
843,Asia,Yemen,A1,91.700000,TRUE,3
844,Asia,Yemen,A2,NaN,NaN,NaN
845,Asia,Yemen,A3,NaN,NaN,NaN
846,Asia,Yemen,B1,NaN,NaN,NaN
847,Asia,Yemen,B2,100.000000,FALSE,2
848,Asia,Yemen,B3,NaN,NaN,NaN
849,Asia,Yemen,B4,78.500000,TRUE,3
850,Asia,Yemen,B5,78.500000,TRUE,3
851,Asia,Yemen,B6,NaN,NaN,NaN
852,Asia,Yemen,B7,NaN,NaN,NaN
853,Asia,Yemen,C1,NaN,NaN,NaN
854,Asia,Yemen,C2,NaN,NaN,NaN
855,Asia,Yemen,C3,NaN,NaN,NaN
856,Africa,Tanzania,A1,60.000000,FALSE,2
857,Africa,Tanzania,A2,96.000000,TRUE,2
858,Africa,Tanzania,A3,96.000000,TRUE,3
859,Africa,Tanzania,B1,NaN,NaN,NaN
860,Africa,Tanzania,B2,96.000000,TRUE,3
861,Africa,Tanzania,B3,NaN,NaN,NaN
862,Africa,Tanzania,B4,93.800000,TRUE,3
863,Africa,Tanzania,B5,NaN,NaN,NaN
864,Africa,Tanzania,B6,NaN,NaN,NaN
865,Africa,Tanzania,B7,NaN,NaN,NaN
866,Africa,Tanzania,C1,NaN,NaN,NaN
867,Africa,Tanzania,C2,NaN,NaN,NaN
868,Africa,Tanzania,C3,NaN,NaN,NaN

In [5]:
subsidies_values_only = subsidies.loc[:,['RegionName','Countries','Type' ,'ReEst_Subsidy2009','SSF_USD_1000']]

In [6]:
countrydata = pd.read_csv("Country_Data.csv")

In [7]:
countrydata.head()

,CID,Countries,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,1,Albania,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,2,Algeria,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
2,3,Angola,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11
3,4,Antigua Barb,Caribbean,-61.800000,17.050000,1,91295,0.774,High,1.989000e+09
4,5,Argentina,South America,-64.379883,-33.707205,0,43024374,0.808,High,9.274000e+11

In [8]:
countrydata_short = countrydata.loc[:,['Countries','Subregion']]

In [9]:
frames = [subsidies,countrydata]

In [10]:
pd.concat(frames)

,CID,CLat,CLon,Category,Cnumber,Countries,Data_group,Develop,Developed,GDP,...,SIDS,SSF_USD_1000,SSF_totalCatch_Country_percent,SSF_totalCatch_EEZ_percent,SSFsubsidies_assessed_percent,SubType,Subregion,TotPop,Type,weighted_by_sectorsize
0,NaN,NaN,NaN,Good,608,Philippines,3,NaN,Developing,NaN,...,NaN,43084.605195,25.475502,28.662420,28.662420,Fisheries mangt.,NaN,NaN,A1,TRUE
1,NaN,NaN,NaN,Good,608,Philippines,3,NaN,Developing,NaN,...,NaN,27240.860867,25.475502,28.662420,25.475502,Fishery R&D,NaN,NaN,A2,TRUE
2,NaN,NaN,NaN,Good,608,Philippines,3,NaN,Developing,NaN,...,NaN,4106.020784,25.475502,28.662420,28.662420,MPAs,NaN,NaN,A3,TRUE
3,NaN,NaN,NaN,Bad,608,Philippines,3,NaN,Developing,NaN,...,NaN,74318.064163,25.475502,28.662420,25.475502,Boat constsruct. & renov.,NaN,NaN,B1,TRUE
4,NaN,NaN,NaN,Bad,608,Philippines,3,NaN,Developing,NaN,...,NaN,1525.321511,25.475502,28.662420,25.475502,Fisheries dev. projects,NaN,NaN,B2,TRUE
5,NaN,NaN,NaN,Bad,608,Philippines,NaN,NaN,Developing,NaN,...,NaN,NaN,25.475502,28.662420,NaN,Fishing port develop.,NaN,NaN,B3,NaN
6,NaN,NaN,NaN,Bad,608,Philippines,1,NaN,Developing,NaN,...,NaN,461.093622,25.475502,28.662420,20.000000,Markt. & storage infrast.,NaN,NaN,B4,FALSE
7,NaN,NaN,NaN,Bad,608,Philippines,2,NaN,Developing,NaN,...,NaN,0.000000,25.475502,28.662420,0.000000,Tax exemption,NaN,NaN,B5,FALSE
8,NaN,NaN,NaN,Bad,608,Philippines,NaN,NaN,Developing,NaN,...,NaN,NaN,25.475502,28.662420,NaN,Fishing access,NaN,NaN,B6,NaN
9,NaN,NaN,NaN,Ugly,608,Philippines,1,NaN,Developing,NaN,...,NaN,35605.265432,25.475502,28.662420,100.000000,Fisher assistance,NaN,NaN,C1,FALSE
10,NaN,NaN,NaN,Ugly,608,Philippines,NaN,NaN,Developing,NaN,...,NaN,NaN,25.475502,28.662420,NaN,Vessel buyback,NaN,NaN,C2,NaN
11,NaN,NaN,NaN,Ugly,608,Philippines,1,NaN,Developing,NaN,...,NaN,21737.044519,25.475502,28.662420,100.000000,Rural fisher communities,NaN,NaN,C3,FALSE
12,NaN,NaN,NaN,Good,356,India,3,NaN,Developing,NaN,...,NaN,2733.696798,41.498407,42.381331,42.381331,Fisheries mangt.,NaN,NaN,A1,TRUE
13,NaN,NaN,NaN,Good,356,India,3,NaN,Developing,NaN,...,NaN,904.297382,41.498407,42.381331,41.498407,Fishery R&D,NaN,NaN,A2,TRUE
14,NaN,NaN,NaN,Good,356,India,3,NaN,Developing,NaN,...,NaN,755.169097,41.498407,42.381331,42.381331,MPAs,NaN,NaN,A3,TRUE
15,NaN,NaN,NaN,Bad,356,India,2,NaN,Developing,NaN,...,NaN,0.000000,41.498407,42.381331,0.000000,Boat constsruct. & renov.,NaN,NaN,B1,FALSE
16,NaN,NaN,NaN,Bad,356,India,1,NaN,Developing,NaN,...,NaN,750.266949,41.498407,42.381331,20.000000,Fisheries dev. projects,NaN,NaN,B2,FALSE
17,NaN,NaN,NaN,Bad,356,India,1,NaN,Developing,NaN,...,NaN,690.545089,41.498407,42.381331,17.000000,Fishing port develop.,NaN,NaN,B3,FALSE
18,NaN,NaN,NaN,Bad,356,India,1,NaN,Developing,NaN,...,NaN,1008.848853,41.498407,42.381331,25.000000,Markt. & storage infrast.,NaN,NaN,B4,FALSE
19,NaN,NaN,NaN,Bad,356,India,1,NaN,Developing,NaN,...,NaN,24791.481252,41.498407,42.381331,20.000000,Tax exemption,NaN,NaN,B5,FALSE
20,NaN,NaN,NaN,Bad,356,India,NaN,NaN,Developing,NaN,...,NaN,NaN,41.498407,42.381331,NaN,Fishing access,NaN,NaN,B6,NaN
21,NaN,NaN,NaN,Ugly,356,India,3,NaN,Developing,NaN,...,NaN,2110.027391,41.498407,42.381331,41.498407,Fisher assistance,NaN,NaN,C1,TRUE
22,NaN,NaN,NaN,Ugly,356,India,NaN,NaN,Developing,NaN,...,NaN,NaN,41.498407,42.381331,NaN,Vessel buyback,NaN,NaN,C2,NaN
23,NaN,NaN,NaN,Ugly,356,India,1,NaN,Developing,NaN,...,NaN,2905.485033,41.498407,42.381331,100.000000,Rural fisher communities,NaN,NaN,C3,FALSE
24,NaN,NaN,NaN,Good,764,Thailand,3,NaN,Developing,NaN,...,NaN,7838.119773,13.560304,42.279905,42.279905,Fisheries mangt.,NaN,NaN,A1,TRUE
25,NaN,NaN,NaN,Good,764,Thailand,3,NaN,Developing,NaN,...,NaN,280.398288,13.560304,42.279905,13.560304,Fishery R&D,NaN,NaN,A2,TRUE
26,NaN,NaN,NaN,Good,764,Thailand,3,NaN,Developing,NaN,...,NaN,1219.526338,13.560304,42.279905,42.279905,MPAs,NaN,NaN,A3,TRUE
27,NaN,NaN,NaN,Bad,764,Thailand,1,NaN,Developing,NaN,...,NaN,14614.017187,13.560304,42.279905,25.000000,Boat constsruct. & renov.,NaN,NaN,B1,FALSE
28,NaN,NaN,NaN,Bad,764,Thailand,3,NaN,Developing,NaN,...,NaN,32.942722,13.560304,42.279905,13.560304,Fisheries dev. projects,NaN,NaN,B2,TRUE
29,NaN,NaN,NaN,Bad,764,Thailand,2,NaN,Developing,NaN,...,NaN,0.000000,13.560304,42.279905,0.000000,Fishing port develop.,NaN,NaN,B3,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,9.008521,49.188538,NaN,NaN,Somalia,NaN,Medium,NaN,5.896000e+09,...,0,NaN,NaN,NaN,NaN,NaN,Eastern Africa,10428043,NaN,NaN
123,124,-31.209278,22.821350,NaN,NaN,South Africa,NaN,Low,NaN,6.831000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Southern Africa,48375645,NaN,NaN
124,125,39.652454,-3.343628,NaN,NaN,Spain,NaN,Medium,NaN,1.534000e+12,...,0,NaN,NaN,NaN,NaN,NaN,Southern Europe,47737941,NaN,NaN
125,126,7.305261,80.771484,NaN,NaN,Sri Lanka,NaN,High,NaN,2.171000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Southern Asia,21866445,NaN,NaN
126,127,17.333333,-62.750000,NaN,NaN,St Kitts Nev,NaN,Medium,NaN,1.220000e+09,...,1,NaN,NaN,NaN,NaN,NaN,Caribbean,51538,NaN,NaN
127,128,13.900474,-60.975708,NaN,NaN,St Lucia,NaN,Medium,NaN,1.893000e+09,...,1,NaN,NaN,NaN,NaN,NaN,Caribbean,163362,NaN,NaN
128,129,13.227645,-61.173462,NaN,NaN,St Vincent,NaN,Medium,NaN,1.193000e+09,...,1,NaN,NaN,NaN,NaN,NaN,Caribbean,102918,NaN,NaN
129,130,15.795888,30.524139,NaN,NaN,Sudan,NaN,Medium,NaN,1.595000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Northern Africa,35482233,NaN,NaN
130,131,4.335456,-55.898438,NaN,NaN,Suriname,NaN,Medium,NaN,9.240000e+09,...,1,NaN,NaN,NaN,NaN,NaN,South America,573311,NaN,NaN
131,132,61.314264,15.231171,NaN,NaN,Sweden,NaN,High,NaN,4.342000e+10,...,0,NaN,NaN,NaN,NaN,NaN,Northern Europe,9723809,NaN,NaN
132,133,35.054732,38.759766,NaN,NaN,Syria,NaN,Medium,NaN,1.076000e+10,...,0,NaN,NaN,NaN,NaN,NaN,Western Asia,17951639,NaN,NaN
133,134,23.882698,121.014404,NaN,NaN,Taiwan,NaN,High,NaN,1.022000e+12,...,0,NaN,NaN,NaN,NaN,NaN,Eastern Asia,23359928,NaN,NaN
134,135,-6.385978,35.240356,NaN,NaN,Tanzania,NaN,Medium,NaN,9.253000e+10,...,0,NaN,NaN,NaN,NaN,NaN,Eastern Africa,49639138,NaN,NaN
135,136,15.604314,100.870285,NaN,NaN,Thailand,NaN,Medium,NaN,9.901000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Southeastern Asia,67741401,NaN,NaN
136,137,-8.756491,125.897827,NaN,NaN,Timor Leste,NaN,Medium,NaN,8.364000e+09,...,0,NaN,NaN,NaN,NaN,NaN,Southeastern Asia,1201542,NaN,NaN
137,138,8.400375,1.068420,NaN,NaN,Togo,NaN,Medium,NaN,1.018000e+10,...,0,NaN,NaN,NaN,NaN,NaN,Western Africa,7351374,NaN,NaN
138,139,-21.178986,-175.198242,NaN,NaN,Tonga,NaN,High,NaN,5.230000e+08,...,1,NaN,NaN,NaN,NaN,NaN,Polynesia,106440,NaN,NaN
139,140,10.442975,-61.272337,NaN,NaN,Trinidad Tob,NaN,High,NaN,4.223000e+10,...,1,NaN,NaN,NaN,NaN,NaN,Caribbean,1223916,NaN,NaN
140,141,34.010550,9.593815,NaN,NaN,Tunisia,NaN,Medium,NaN,1.251000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Northern Africa,10937521,NaN,NaN
141,142,39.527348,34.628908,NaN,NaN,Turkey,NaN,Medium,NaN,1.512000e+12,...,0,NaN,NaN,NaN,NaN,NaN,Western Asia,81619392,NaN,NaN
142,143,-7.478442,178.679921,NaN,NaN,Tuvalu,NaN,NaN,NaN,3.500000e+07,...,1,NaN,NaN,NaN,NaN,NaN,Polynesia,10782,NaN,NaN
143,144,53.032955,-1.538080,NaN,NaN,UK,NaN,Medium,NaN,2.435000e+12,...,0,NaN,NaN,NaN,NaN,NaN,Northern Europe,63742977,NaN,NaN
144,145,48.942347,33.178719,NaN,NaN,Ukraine,NaN,High,NaN,3.731000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Eastern Europe,44291413,NaN,NaN
145,146,23.913460,54.448252,NaN,NaN,Untd Arab Em,NaN,High,NaN,6.050000e+08,...,0,NaN,NaN,NaN,NaN,NaN,Western Asia,5628805,NaN,NaN
146,147,-32.888813,-56.206051,NaN,NaN,Uruguay,NaN,High,NaN,6.978000e+10,...,0,NaN,NaN,NaN,NaN,NaN,South America,3332972,NaN,NaN
147,148,40.278267,-104.690304,NaN,NaN,USA,NaN,High,NaN,1.746000e+13,...,0,NaN,NaN,NaN,NaN,NaN,Northern America,318892103,NaN,NaN
148,149,-15.376706,166.959158,NaN,NaN,Vanuatu,NaN,Medium,NaN,6.870000e+08,...,1,NaN,NaN,NaN,NaN,NaN,Melanesia,266937,NaN,NaN
149,150,7.927041,-66.369987,NaN,NaN,Venezuela,NaN,Medium,NaN,5.457000e+08,...,0,NaN,NaN,NaN,NaN,NaN,South America,28868486,NaN,NaN
150,151,14.058324,108.277199,NaN,NaN,Viet Nam,NaN,Medium,NaN,5.095000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Southeastern Asia,93421835,NaN,NaN
151,152,15.990375,47.373059,NaN,NaN,Yemen,NaN,Medium,NaN,1.060000e+11,...,0,NaN,NaN,NaN,NaN,NaN,Western Asia,26052966,NaN,NaN

In [11]:
 pd.concat([subsidies_short,countrydata_short],axis=1)

,RegionName,Countries,Type,SSFsubsidies_assessed_percent,weighted_by_sectorsize,Data_group,Countries,Subregion
0,Asia,Philippines,A1,28.662420,TRUE,3,Albania,Southern Europe
1,Asia,Philippines,A2,25.475502,TRUE,3,Algeria,Northern Africa
2,Asia,Philippines,A3,28.662420,TRUE,3,Angola,Middle Africa
3,Asia,Philippines,B1,25.475502,TRUE,3,Antigua Barb,Caribbean
4,Asia,Philippines,B2,25.475502,TRUE,3,Argentina,South America
5,Asia,Philippines,B3,NaN,NaN,NaN,Australia,Australia and New Zealand
6,Asia,Philippines,B4,20.000000,FALSE,1,Bahamas,Caribbean
7,Asia,Philippines,B5,0.000000,FALSE,2,Bahrain,Western Asia
8,Asia,Philippines,B6,NaN,NaN,NaN,Bangladesh,Southern Asia
9,Asia,Philippines,C1,100.000000,FALSE,1,Barbados,Caribbean
10,Asia,Philippines,C2,NaN,NaN,NaN,Belgium,Western Europe
11,Asia,Philippines,C3,100.000000,FALSE,1,Belize,Central America
12,Asia,India,A1,42.381331,TRUE,3,Benin,Western Africa
13,Asia,India,A2,41.498407,TRUE,3,Bosnia Herzg,Southern Europe
14,Asia,India,A3,42.381331,TRUE,3,Brazil,South America
15,Asia,India,B1,0.000000,FALSE,2,Brunei Darsm,Southeastern Asia
16,Asia,India,B2,20.000000,FALSE,1,Bulgaria,Eastern Europe
17,Asia,India,B3,17.000000,FALSE,1,Cambodia,Southeastern Asia
18,Asia,India,B4,25.000000,FALSE,1,Cameroon,Middle Africa
19,Asia,India,B5,20.000000,FALSE,1,Canada,Northern America
20,Asia,India,B6,NaN,NaN,NaN,Cape Verde,Western Africa
21,Asia,India,C1,41.498407,TRUE,3,Chile,South America
22,Asia,India,C2,NaN,NaN,NaN,China,Eastern Asia
23,Asia,India,C3,100.000000,FALSE,1,Colombia,South America
24,Asia,Thailand,A1,42.279905,TRUE,3,Comoros,Eastern Africa
25,Asia,Thailand,A2,13.560304,TRUE,3,Congo Dem Rep,Middle Africa
26,Asia,Thailand,A3,42.279905,TRUE,3,Congo Rep,Middle Africa
27,Asia,Thailand,B1,25.000000,FALSE,1,Costa Rica,Central America
28,Asia,Thailand,B2,13.560304,TRUE,3,Cote d'Ivoire,Western Africa
29,Asia,Thailand,B3,0.000000,FALSE,2,Croatia,Southern Europe
...,...,...,...,...,...,...,...,...
839,Europe,Portugal,B7,NaN,NaN,NaN,NaN,NaN
840,Europe,Portugal,C1,30.100000,TRUE,3,NaN,NaN
841,Europe,Portugal,C2,30.100000,TRUE,3,NaN,NaN
842,Europe,Portugal,C3,NaN,NaN,NaN,NaN,NaN
843,Asia,Yemen,A1,91.700000,TRUE,3,NaN,NaN
844,Asia,Yemen,A2,NaN,NaN,NaN,NaN,NaN
845,Asia,Yemen,A3,NaN,NaN,NaN,NaN,NaN
846,Asia,Yemen,B1,NaN,NaN,NaN,NaN,NaN
847,Asia,Yemen,B2,100.000000,FALSE,2,NaN,NaN
848,Asia,Yemen,B3,NaN,NaN,NaN,NaN,NaN
849,Asia,Yemen,B4,78.500000,TRUE,3,NaN,NaN
850,Asia,Yemen,B5,78.500000,TRUE,3,NaN,NaN
851,Asia,Yemen,B6,NaN,NaN,NaN,NaN,NaN
852,Asia,Yemen,B7,NaN,NaN,NaN,NaN,NaN
853,Asia,Yemen,C1,NaN,NaN,NaN,NaN,NaN
854,Asia,Yemen,C2,NaN,NaN,NaN,NaN,NaN
855,Asia,Yemen,C3,NaN,NaN,NaN,NaN,NaN
856,Africa,Tanzania,A1,60.000000,FALSE,2,NaN,NaN
857,Africa,Tanzania,A2,96.000000,TRUE,2,NaN,NaN
858,Africa,Tanzania,A3,96.000000,TRUE,3,NaN,NaN
859,Africa,Tanzania,B1,NaN,NaN,NaN,NaN,NaN
860,Africa,Tanzania,B2,96.000000,TRUE,3,NaN,NaN
861,Africa,Tanzania,B3,NaN,NaN,NaN,NaN,NaN
862,Africa,Tanzania,B4,93.800000,TRUE,3,NaN,NaN
863,Africa,Tanzania,B5,NaN,NaN,NaN,NaN,NaN
864,Africa,Tanzania,B6,NaN,NaN,NaN,NaN,NaN
865,Africa,Tanzania,B7,NaN,NaN,NaN,NaN,NaN
866,Africa,Tanzania,C1,NaN,NaN,NaN,NaN,NaN
867,Africa,Tanzania,C2,NaN,NaN,NaN,NaN,NaN
868,Africa,Tanzania,C3,NaN,NaN,NaN,NaN,NaN

In [12]:
 pd.concat([subsidies_short,countrydata_short],axis = 1, join_axes=[subsidies_short.index])

,RegionName,Countries,Type,SSFsubsidies_assessed_percent,weighted_by_sectorsize,Data_group,Countries,Subregion
0,Asia,Philippines,A1,28.662420,TRUE,3,Albania,Southern Europe
1,Asia,Philippines,A2,25.475502,TRUE,3,Algeria,Northern Africa
2,Asia,Philippines,A3,28.662420,TRUE,3,Angola,Middle Africa
3,Asia,Philippines,B1,25.475502,TRUE,3,Antigua Barb,Caribbean
4,Asia,Philippines,B2,25.475502,TRUE,3,Argentina,South America
5,Asia,Philippines,B3,NaN,NaN,NaN,Australia,Australia and New Zealand
6,Asia,Philippines,B4,20.000000,FALSE,1,Bahamas,Caribbean
7,Asia,Philippines,B5,0.000000,FALSE,2,Bahrain,Western Asia
8,Asia,Philippines,B6,NaN,NaN,NaN,Bangladesh,Southern Asia
9,Asia,Philippines,C1,100.000000,FALSE,1,Barbados,Caribbean
10,Asia,Philippines,C2,NaN,NaN,NaN,Belgium,Western Europe
11,Asia,Philippines,C3,100.000000,FALSE,1,Belize,Central America
12,Asia,India,A1,42.381331,TRUE,3,Benin,Western Africa
13,Asia,India,A2,41.498407,TRUE,3,Bosnia Herzg,Southern Europe
14,Asia,India,A3,42.381331,TRUE,3,Brazil,South America
15,Asia,India,B1,0.000000,FALSE,2,Brunei Darsm,Southeastern Asia
16,Asia,India,B2,20.000000,FALSE,1,Bulgaria,Eastern Europe
17,Asia,India,B3,17.000000,FALSE,1,Cambodia,Southeastern Asia
18,Asia,India,B4,25.000000,FALSE,1,Cameroon,Middle Africa
19,Asia,India,B5,20.000000,FALSE,1,Canada,Northern America
20,Asia,India,B6,NaN,NaN,NaN,Cape Verde,Western Africa
21,Asia,India,C1,41.498407,TRUE,3,Chile,South America
22,Asia,India,C2,NaN,NaN,NaN,China,Eastern Asia
23,Asia,India,C3,100.000000,FALSE,1,Colombia,South America
24,Asia,Thailand,A1,42.279905,TRUE,3,Comoros,Eastern Africa
25,Asia,Thailand,A2,13.560304,TRUE,3,Congo Dem Rep,Middle Africa
26,Asia,Thailand,A3,42.279905,TRUE,3,Congo Rep,Middle Africa
27,Asia,Thailand,B1,25.000000,FALSE,1,Costa Rica,Central America
28,Asia,Thailand,B2,13.560304,TRUE,3,Cote d'Ivoire,Western Africa
29,Asia,Thailand,B3,0.000000,FALSE,2,Croatia,Southern Europe
...,...,...,...,...,...,...,...,...
839,Europe,Portugal,B7,NaN,NaN,NaN,NaN,NaN
840,Europe,Portugal,C1,30.100000,TRUE,3,NaN,NaN
841,Europe,Portugal,C2,30.100000,TRUE,3,NaN,NaN
842,Europe,Portugal,C3,NaN,NaN,NaN,NaN,NaN
843,Asia,Yemen,A1,91.700000,TRUE,3,NaN,NaN
844,Asia,Yemen,A2,NaN,NaN,NaN,NaN,NaN
845,Asia,Yemen,A3,NaN,NaN,NaN,NaN,NaN
846,Asia,Yemen,B1,NaN,NaN,NaN,NaN,NaN
847,Asia,Yemen,B2,100.000000,FALSE,2,NaN,NaN
848,Asia,Yemen,B3,NaN,NaN,NaN,NaN,NaN
849,Asia,Yemen,B4,78.500000,TRUE,3,NaN,NaN
850,Asia,Yemen,B5,78.500000,TRUE,3,NaN,NaN
851,Asia,Yemen,B6,NaN,NaN,NaN,NaN,NaN
852,Asia,Yemen,B7,NaN,NaN,NaN,NaN,NaN
853,Asia,Yemen,C1,NaN,NaN,NaN,NaN,NaN
854,Asia,Yemen,C2,NaN,NaN,NaN,NaN,NaN
855,Asia,Yemen,C3,NaN,NaN,NaN,NaN,NaN
856,Africa,Tanzania,A1,60.000000,FALSE,2,NaN,NaN
857,Africa,Tanzania,A2,96.000000,TRUE,2,NaN,NaN
858,Africa,Tanzania,A3,96.000000,TRUE,3,NaN,NaN
859,Africa,Tanzania,B1,NaN,NaN,NaN,NaN,NaN
860,Africa,Tanzania,B2,96.000000,TRUE,3,NaN,NaN
861,Africa,Tanzania,B3,NaN,NaN,NaN,NaN,NaN
862,Africa,Tanzania,B4,93.800000,TRUE,3,NaN,NaN
863,Africa,Tanzania,B5,NaN,NaN,NaN,NaN,NaN
864,Africa,Tanzania,B6,NaN,NaN,NaN,NaN,NaN
865,Africa,Tanzania,B7,NaN,NaN,NaN,NaN,NaN
866,Africa,Tanzania,C1,NaN,NaN,NaN,NaN,NaN
867,Africa,Tanzania,C2,NaN,NaN,NaN,NaN,NaN
868,Africa,Tanzania,C3,NaN,NaN,NaN,NaN,NaN

In [13]:
countrydata_short['Subregion'].dtype

dtype('O')

In [14]:
for col in subsidies_short:
    print col, subsidies_short[col].dtypes

RegionName object
Countries object
Type object
SSFsubsidies_assessed_percent float64
weighted_by_sectorsize object
Data_group float64

In [15]:
for col in countrydata_short:
    print col, countrydata_short[col].dtypes

Countries object
Subregion object

In [16]:
merged_countries_short = pd.merge(left=subsidies_short,right=countrydata_short, how='left')

In [17]:
merged_countries = pd.merge(left=subsidies,right=countrydata, how='left')

In [18]:
merged_countries_short.dtypes

RegionName                        object
Countries                         object
Type                              object
SSFsubsidies_assessed_percent    float64
weighted_by_sectorsize            object
Data_group                       float64
Subregion                         object
dtype: object

In [19]:
groupby_subregions_type = merged_countries.groupby(['Subregion','Type']).sum()
groupby_subregions_type.reset_index()

,Subregion,Type,ID,Cnumber,RegionID,ReEst_Subsidy2009,NewData,HDI_2005,SSFsubsidies_assessed_percent,Data_group,SSF_totalCatch_EEZ_percent,SSF_totalCatch_Country_percent,SSF_USD_1000,CID,CLon,CLat,SIDS,TotPop,HDI,GDP
0,Australia and New Zealand,A1,1341,590,10,129241.779085,1,1.905,33.399670,6,33.399670,39.383025,21426.276002,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
1,Australia and New Zealand,A2,1343,590,10,9922.318280,0,1.905,17.146119,3,33.399670,39.383025,1701.292472,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
2,Australia and New Zealand,A3,1345,590,10,79448.594283,1,1.905,33.399670,6,33.399670,39.383025,15054.748009,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
3,Australia and New Zealand,B1,1347,590,10,89014.750270,0,1.905,17.146119,3,33.399670,39.383025,15262.574761,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
4,Australia and New Zealand,B2,1349,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
5,Australia and New Zealand,B3,1351,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
6,Australia and New Zealand,B4,1353,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
7,Australia and New Zealand,B5,1355,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
8,Australia and New Zealand,B6,1357,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
9,Australia and New Zealand,C1,1361,590,10,28262.262712,0,1.905,100.000000,2,33.399670,39.383025,28262.262712,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
10,Australia and New Zealand,C2,1363,590,10,168997.617791,0,1.905,0.000000,3,33.399670,39.383025,0.000000,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
11,Australia and New Zealand,C3,1365,590,10,0.000000,0,1.905,NaN,NaN,33.399670,39.383025,NaN,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
12,Caribbean,A1,1354,580,8,14204.563990,0,1.574,190.100000,5,190.100000,181.792717,13239.783898,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
13,Caribbean,A2,1356,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
14,Caribbean,A3,1358,580,8,9803.020892,0,1.574,190.100000,5,190.100000,181.792717,9274.321445,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
15,Caribbean,B1,1360,580,8,8654.268922,0,1.574,100.000000,2,190.100000,181.792717,8654.268922,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
16,Caribbean,B2,1362,580,8,1102.749167,1,1.574,181.792717,5,190.100000,181.792717,907.279170,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
17,Caribbean,B3,1364,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
18,Caribbean,B4,1366,580,8,2436.401207,0,1.574,100.000000,2,190.100000,181.792717,2436.401207,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
19,Caribbean,B5,1368,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
20,Caribbean,B6,1370,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
21,Caribbean,C1,1374,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
22,Caribbean,C2,1376,580,8,0.000000,0,1.574,NaN,NaN,190.100000,181.792717,NaN,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
23,Caribbean,C3,1378,580,8,644.850741,0,1.574,100.000000,2,190.100000,181.792717,644.850741,100,-156.155522,40.100795,2,13977301,1.530,1.527800e+11
24,Central America,A1,4229,1821,18,41031.154338,0,3.197,67.450318,9,115.452457,103.978820,6612.211493,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
25,Central America,A2,4233,1821,18,26098.801716,0,3.197,143.655814,8,115.452457,103.978820,10784.801781,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
26,Central America,A3,4237,1821,18,19210.143120,0,3.197,115.459307,12,115.452457,103.978820,6631.776769,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
27,Central America,B1,4241,1821,18,0.000000,0,3.197,NaN,NaN,115.452457,103.978820,NaN,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
28,Central America,B2,4245,1821,18,1674.262234,3,3.197,35.344639,7,115.452457,103.978820,237.668391,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
29,Central America,B3,4249,1821,18,0.000000,0,3.197,NaN,NaN,115.452457,103.978820,NaN,321,-351.346894,52.752454,0,134498961,2.898,2.321010e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Western Africa,B6,7100,3036,18,6681.592074,1,2.864,0.000000,2,269.401466,365.468522,0.000000,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
216,Western Africa,C1,7112,3036,18,471.611311,1,2.864,100.000000,2,269.401466,365.468522,471.611311,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
217,Western Africa,C2,7118,3036,18,0.000000,0,2.864,NaN,NaN,269.401466,365.468522,NaN,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
218,Western Africa,C3,7124,3036,18,5680.738385,0,2.864,600.000000,14,269.401466,365.468522,5680.738385,529,-41.428420,69.384239,0,237284703,2.815,1.242140e+12
219,Western Asia,A1,5372,2361,6,90996.229703,0,2.095,172.800000,9,172.814982,165.165592,50216.101307,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
220,Western Asia,A2,5375,2361,6,7495.464883,0,2.095,79.900000,6,172.814982,165.165592,4051.910527,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
221,Western Asia,A3,5378,2361,6,6020.948473,0,2.095,81.100000,6,172.814982,165.165592,1724.250880,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
222,Western Asia,B1,5381,2361,6,16006.024961,0,2.095,0.000000,2,172.814982,165.165592,0.000000,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
223,Western Asia,B2,5384,2361,6,46077.957916,2,2.095,215.000000,7,172.814982,165.165592,17220.043299,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
224,Western Asia,B3,5387,2361,6,0.000000,0,2.095,NaN,NaN,172.814982,165.165592,NaN,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
225,Western Asia,B4,5390,2361,6,44789.586324,0,2.095,78.500000,5,172.814982,165.165592,17870.527929,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
226,Western Asia,B5,5393,2361,6,25685.313394,0,2.095,78.500000,3,172.814982,165.165592,20162.971014,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
227,Western Asia,B6,5396,2361,6,0.000000,0,2.095,NaN,NaN,172.814982,165.165592,NaN,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
228,Western Asia,B7,1973,887,2,26849.251474,0,0.508,NaN,NaN,91.700000,78.500000,NaN,152,47.373059,15.990375,0,26052966,0.500,1.060000e+11
229,Western Asia,C1,5402,2361,6,0.000000,0,2.095,NaN,NaN,172.814982,165.165592,NaN,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
230,Western Asia,C2,5405,2361,6,0.000000,0,2.095,NaN,NaN,172.814982,165.165592,NaN,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
231,Western Asia,C3,5408,2361,6,1367.021810,0,2.095,200.000000,5,172.814982,165.165592,1367.021810,410,127.028060,79.407014,0,135018344,2.095,3.234000e+12
232,Western Europe,A1,2499,1054,3,50731.870349,3,2.840,47.962985,7,48.180712,23.502142,8814.383358,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
233,Western Europe,A2,2502,1054,3,41181.181429,3,2.840,23.817134,9,48.180712,23.502142,4659.153470,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
234,Western Europe,A3,2505,1054,3,34980.769763,0,2.840,48.132985,9,48.180712,23.502142,7848.833589,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
235,Western Europe,B1,2508,1054,3,160418.605649,3,2.840,16.400000,7,48.180712,23.502142,18581.043278,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
236,Western Europe,B2,2511,1054,3,11026.511790,3,2.840,9.900000,2,48.180712,23.502142,1091.624667,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
237,Western Europe,B3,2514,1054,3,903.788941,0,2.840,22.117134,3,48.180712,23.502142,199.892207,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
238,Western Europe,B4,2517,1054,3,53546.371549,3,2.840,23.817134,9,48.180712,23.502142,7130.919054,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
239,Western Europe,B5,2520,1054,3,0.000000,0,2.840,NaN,NaN,48.180712,23.502142,NaN,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
240,Western Europe,B6,2523,1054,3,73622.961551,3,2.840,0.000000,9,48.180712,23.502142,0.000000,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
241,Western Europe,B7,673,276,1,92896.599088,1,0.935,NaN,NaN,7.200000,1.200000,NaN,50,10.063477,50.727763,0,80996685,0.911,3.621000e+12
242,Western Europe,C1,2529,1054,3,141824.465854,3,2.840,23.817134,8,48.180712,23.502142,28486.665640,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
243,Western Europe,C2,2532,1054,3,49454.657521,1,2.840,1.200000,8,48.180712,23.502142,24.945211,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12
244,Western Europe,C3,2535,1054,3,0.000000,0,2.840,NaN,NaN,48.180712,23.502142,NaN,192,18.173447,149.655514,0,164133048,2.710,7.006100e+12

In [20]:
mean_per_type = groupby_subregions_type.loc[:,['ReEst_Subsidy2009','SSF_USD_1000']]

In [21]:
SSF_Subsidies_Mean = merged_countries.groupby(['Subregion','Type']).sum()
SSF_Subsidies_Mean['MeanSSF_Subsidy'] = (SSF_Subsidies_Mean.SSF_USD_1000 / SSF_Subsidies_Mean.ReEst_Subsidy2009)*100

In [22]:
SSF_Subsidies_Mean = SSF_Subsidies_Mean.reset_index()

In [23]:
Catch = pd.read_csv("SAU_Catches.csv")

In [24]:
Catch.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137

In [25]:
Catch_Subregions = pd.merge(left=Catch,right=countrydata, how='left')
Catch_Subregions.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137,3,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11

In [26]:
Catch_groupby_subregions = Catch_Subregions.groupby(['Subregion', 'EEZ']).sum().reset_index()
Catch_groupby_subregions.head()

,Subregion,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,CLon,CLat,SIDS,TotPop,HDI,GDP
0,Australia and New Zealand,False,40.6,5.01,135.92,481.15,662.7,140.9,41.681948,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
1,Australia and New Zealand,True,40.6,5.03,135.93,769.34,950.9,141.0,31.098267,104,305.340099,-68.575151,0,26909533,1.843,1.258700e+12
2,Caribbean,False,9.1,68.70,104.40,54.10,236.3,173.1,858.489485,827,-867.636998,215.454896,13,36751917,9.450,3.699738e+11
3,Caribbean,True,9.1,68.70,104.40,28.10,210.3,173.1,950.608313,827,-867.636998,215.454896,13,36751917,9.450,3.699738e+11
4,Central America,False,5.4,40.90,939.90,1679.10,2665.3,980.8,281.626831,380,-625.384348,105.242434,1,160602530,4.772,2.455517e+12

In [27]:
for col in Catch_groupby_subregions:
    print col, Catch_groupby_subregions[col].dtypes

Subregion object
EEZ bool
Recreational float64
Subsistence float64
Artisanal float64
Industrial float64
Total_Catch float64
SSF_Catch float64
SSF_Catch_percent float64
CID float64
CLon float64
CLat float64
SIDS float64
TotPop float64
HDI float64
GDP float64

In [28]:
Meancatch_subregions = (Catch_groupby_subregions.SSF_Catch / Catch_groupby_subregions.Total_Catch)*100
Meancatch_subregions.head()

0    21.261506
1    14.828058
2    73.254338
3    82.310984
4    36.798859
dtype: float64

In [29]:
Meancatch_subregions.columns = ['Subregion','EEZ','Mean_catch']

In [30]:
Meancatch_subregions.columns

['Subregion', 'EEZ', 'Mean_catch']

In [31]:
Type = pd.read_csv('Subtype_Fleet_EEZ.csv')

In [32]:
Type

                      SubType Type    EEZ
0            Fisheries mangt.   A1   True
1                 Fishery R&D   A2   True
2                        MPAs   A3   True
3   Boat constsruct. & renov.   B1  False
4     Fisheries dev. projects   B2  False
5       Fishing port develop.   B3  False
6   Markt. & storage infrast.   B4  False
7               Tax exemption   B5  False
8              Fishing access   B6  False
9              Fuel subsidies   B7  False
10          Fisher assistance   C1  False
11             Vessel buyback   C2  False
12   Rural fisher communities   C3  False

In [33]:
Subsidies2009 = pd.read_csv("subsidies2009_nofuel.csv")

In [34]:
Subsidies2009_subregions = pd.merge(left=Subsidies2009,right=countrydata, how='left')

In [35]:
Subsidies2009_subregions_Type = pd.merge(left=Subsidies2009_subregions, right=Type, how='left')

In [36]:
Subsidies2009_Catch = pd.merge(left=Subsidies2009_subregions_Type, right=Catch_Subregions, how='left')

In [37]:
Catch_Subregions.head()

,Region,Developed,Countries,EEZ,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP
0,Europe,Developing,Albania,True,0.0,0.0,0.4,4.5,4.9,0.4,8.163265,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
1,Europe,Developing,Albania,False,0.0,0.0,0.4,4.4,4.8,0.4,8.333333,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,3.066000e+10
2,Africa,Developing,Algeria,True,1.1,0.2,89.8,164.7,255.8,90.0,35.183737,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
3,Africa,Developing,Algeria,False,1.1,0.2,89.8,156.7,247.8,90.0,36.319613,2,Northern Africa,2.296145,27.940730,0,38813722,0.717,Medium,5.626000e+11
4,Africa,Developing,Angola,True,0.1,63.7,156.1,273.2,493.1,219.8,44.575137,3,Middle Africa,17.237553,-13.299091,0,19088106,0.526,Low,1.755000e+11

In [38]:
Subsidies2009_subregions_Type.head()

,ID,Cnumber,RegionID,RegionName,Countries,Type,SubType,Category,ReEst_Subsidy2009_original,NewData,...,CID,Subregion,CLon,CLat,SIDS,TotPop,HDI,Develop,GDP,EEZ
0,1,8,1,Europe,Albania,A1,Fisheries mangt.,Good,387.260735,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
1,2,8,1,Europe,Albania,A2,Fishery R&D,Good,198.557500,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
2,3,8,1,Europe,Albania,A3,MPAs,Good,58.941816,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,True
3,4,8,1,Europe,Albania,B1,Boat constsruct. & renov.,Bad,0.000000,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,False
4,5,8,1,Europe,Albania,B2,Fisheries dev. projects,Bad,472.011572,0,...,1,Southern Europe,20.050049,40.934006,0,3020209,0.749,High,30660000000,False

In [39]:
list(Subsidies2009_subregions_Type.columns.values)

['ID',
 'Cnumber',
 'RegionID',
 'RegionName',
 'Countries',
 'Type',
 'SubType',
 'Category',
 'ReEst_Subsidy2009_original',
 'NewData',
 'Developed',
 'HDI_2005',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP',
 'EEZ']

In [40]:
list(Catch_Subregions.columns.values)

['Region',
 'Developed',
 'Countries',
 'EEZ',
 'Recreational',
 'Subsistence',
 'Artisanal',
 'Industrial',
 'Total_Catch',
 'SSF_Catch',
 'SSF_Catch_percent',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP']

In [41]:
list(Subsidies2009_Catch.columns.values)

['ID',
 'Cnumber',
 'RegionID',
 'RegionName',
 'Countries',
 'Type',
 'SubType',
 'Category',
 'ReEst_Subsidy2009_original',
 'NewData',
 'Developed',
 'HDI_2005',
 'CID',
 'Subregion',
 'CLon',
 'CLat',
 'SIDS',
 'TotPop',
 'HDI',
 'Develop',
 'GDP',
 'EEZ',
 'Region',
 'Recreational',
 'Subsistence',
 'Artisanal',
 'Industrial',
 'Total_Catch',
 'SSF_Catch',
 'SSF_Catch_percent']

In [42]:
Subsidies2009_Catch.head()

,ID,Cnumber,RegionID,RegionName,Countries,Type,SubType,Category,ReEst_Subsidy2009_original,NewData,...,GDP,EEZ,Region,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
0,1,8,1,Europe,Albania,A1,Fisheries mangt.,Good,387.260735,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
1,2,8,1,Europe,Albania,A2,Fishery R&D,Good,198.557500,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
2,3,8,1,Europe,Albania,A3,MPAs,Good,58.941816,0,...,30660000000,True,Europe,0,0,0.4,4.5,4.9,0.4,8.163265
3,4,8,1,Europe,Albania,B1,Boat constsruct. & renov.,Bad,0.000000,0,...,30660000000,False,Europe,0,0,0.4,4.4,4.8,0.4,8.333333
4,5,8,1,Europe,Albania,B2,Fisheries dev. projects,Bad,472.011572,0,...,30660000000,False,Europe,0,0,0.4,4.4,4.8,0.4,8.333333

In [43]:
Subsidies2009_Catch_SubregionsEEZ = Subsidies2009_Catch.groupby(['Subregion','EEZ']).sum()

In [44]:
Subsidies2009_Catch_SubregionsEEZ[:1]

,,ID,Cnumber,RegionID,ReEst_Subsidy2009_original,NewData,HDI_2005,CID,CLon,CLat,SIDS,TotPop,HDI,GDP,Recreational,Subsistence,Artisanal,Industrial,Total_Catch,SSF_Catch,SSF_Catch_percent
Subregion,EEZ,,,,,,,,,,,,,,,,,,,,
Australia and New Zealand,False,12201,5310,90,286274.630773,0,17.145,936,2748.060891,-617.176359,0,242185797,16.587,1.132830e+13,365.4,45.09,1223.28,4330.35,5964.3,1268.1,375.137536

In [45]:
Subsidies2009_Catch_SubregionEEZ['Mean_Catch'] = (Subsidies2009_Catch_SubregionsEEZ['SSF_Catch']/Subsidies2009_Catch_SubregionsEEZ['Total_Catch'])*100

NameError: name 'Subsidies2009_Catch_SubregionEEZ' is not defined

In [ ]:
Subregion_EEZ_MeanCatch = Subsidies2009_Catch_SubregionEEZ.reset_index()

In [ ]:
Subregion_EEZ_MeanCatch[:1]['Mean_Catch'].isnull()

In [ ]:
Catch_Subregions_MeanCatch = pd.merge(left=Catch_Subregions,right=Subregion_EEZ_MeanCatch, how='left')

In [ ]:
Catch_Subregions_MeanCatch[:1]['Mean_Catch']

In [ ]:
Catch_Subregions_short = Catch_Subregions.loc[:,['Subregion','Countries','EEZ','Total_Catch','SSF_Catch','SSF_Catch_percent']]

In [ ]:
Subregion_EEZ_MeanCatch_short = Subregion_EEZ_MeanCatch.loc[:,['Subregion','EEZ','Mean_Catch']]

In [ ]:
Catch_Subregions_MeanCatch = pd.merge(left=Catch_Subregions_short,right=Subregion_EEZ_MeanCatch_short, how='left')

In [ ]:
Catch_Subregions_MeanCatch[:1]['Mean_Catch'].isnull()

In [ ]:
Catch_Subregions_MeanCatch.head()

In [ ]:
Catch_Subregions_MeanCatch['Factor'] = Catch_Subregions_MeanCatch['SSF_Catch_percent']/Catch_Subregions_MeanCatch['Mean_Catch']

In [ ]:
Catch_Subregions_MeanCatch[:1]

In [ ]:
SSF_Subsidies_Mean[:1]

In [ ]:
SSF_Subsidies_Mean_Type = pd.merge(left=SSF_Subsidies_Mean,right=Type, how='left')

In [ ]:
SSF_Subsidies_Catch = pd.merge(left=Catch_Subregions_MeanCatch,right=SSF_Subsidies_Mean_Type, how='left')

In [ ]:
SSF_Subsidies_Catch.dtypes

In [ ]:
SSF_Subsidies_Catch.loc[[0,12,24,36,48,60,72,84,96,108,120,132,144,156,168,180],['Subregion','Countries','SSF_Catch_percent','EEZ','Mean_Catch','Factor','Type','MeanSSF_Subsidy']]

In [ ]:
SSF_Subsidies_Catch.loc[:,['Subregion','Countries','SSF_Catch_percent','EEZ','Mean_Catch','Factor','Type','MeanSSF_Subsidy','ReEst_Subsidy2009']]

In [ ]:
SSF_Subsidies_Catch['SSF_Subsidies_estimate'] = SSF_Subsidies_Catch.Factor * SSF_Subsidies_Catch.MeanSSF_Subsidy

In [ ]:
list(SSF_Subsidies_Catch.columns.values)

In [ ]:
SSF_Subsidies_estimates = SSF_Subsidies_Catch.loc[:,['Subregion','Countries','SSF_Catch_percent','EEZ','Mean_Catch','Factor','Type','MeanSSF_Subsidy','SSF_Subsidies_estimate','ReEst_Subsidy2009']]

In [ ]:
list(SSF_Subsidies_estimates.columns.values)

In [ ]:
All_subsidies = pd.merge(left=SSF_Subsidies_estimates,right=merged_countries_short, how='left')

In [ ]:
All_subsidies

In [ ]:
list(All_subsidies.columns.values)

In [ ]:
All_subsidies['SSFsubsidies_assessed_percent'].fillna(All_subsidies['SSF_Subsidies_estimate'])

In [ ]:
All_subsidies['ALL_SSF_Subsidies_percent'] = All_subsidies['SSFsubsidies_assessed_percent'].fillna(All_subsidies['SSF_Subsidies_estimate'])

In [ ]:
All_subsidies

In [ ]:
All_subsidies['ALL_SSF_Subsidies_USD'] = All_subsidies['ReEst_Subsidy2009']*All_subsidies['ALL_SSF_Subsidies_percent']/100

In [ ]:
All_subsidies

In [ ]:
All_subsidies.sum(0)

In [ ]:
All_groupby_subregions = All_subsidies.groupby('Subregion').mean().reset_index()

In [ ]:
All_groupby_subregions.plot(x='Subregion', y='SSF_Subsidies_estimate')

In [ ]:
All_subsidies_SSF_2009 = pd.merge(left=All_subsidies,right=Subsidies2009, how='left')

In [ ]:
All_subsidies_SSF_2009[ReEst_.sum(0)

In [ ]:
numpy.sum(All_subsidies_SSF_2009['ReEst_Subsidy2009_original'])

In [ ]:
numpy.sum(Subsidies2009['ReEst_Subsidy2009_original'])

In [ ]:
numpy.sum(Subsidies2009_Catch['ReEst_Subsidy2009_original'])